---
import Layout from "../layouts/Layout.astro";
import Card from "../components/ArticleLink.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
---

<Layout title="oof2win2">
	<main class="w-[800px] m-auto max-w-[calc(100% - 2rem)] p-2">
		<h1 class="text-center text-6xl mb-4 text-base-950 dark:text-base-200">Hey there, I'm <span class="font-black">oof2win2</span>.</h1>

		<div class="space-y-2 text-base-950 dark:text-base-200 p-8 m-4 bg-base-200/50 dark:bg-slate-900 rounded-2xl">
			<p>
				I like making stuff, playing with stuff, and screwing it all up.
				I'll be studying Informatics at Charles University starting this
				September.
			</p>

			<p>
				This blog is pretty much a collection of interesting things I
				found during my tinkerings which I wanted to share with the
				world.
			</p>
		</div>

		<ul role="list" class="flex flex-col gap-8 p-0">
			{
				allPosts.map((post) => (
					<Card
						href={`/blog/${post.slug}`}
						title={post.data.title}
						body={post.data.description}
						postedAt={post.data.date}
					/>
				))
			}
		</ul>
	</main>
</Layout>
