---
interface Props {
	title: string;
	body: string;
	href: string;
	postedAt: Date
}

const { href, title, body, postedAt } = Astro.props;
---

<li class="flex p-1 bg-slate-200 dark:bg-slate-800 rounded-2xl shadow-inner">
	<a href={href} rel="prefetch" class="w-full no-underline p-[1.5rem] rounded-xl text-white bg-slate-300/50 dark:bg-slate-900/50">
		<h2 class="text-xl text-slate-900 dark:text-slate-300">
			{title}
		</h2>
		<div class="flex flex-row text-slate-700 dark:text-slate-400 text-sm gap-4 justify-between mt-4">  
			<p>
				{body}
			</p>
			<p>Posted on {postedAt.toLocaleDateString()}</p>
		</div>
	</a>
</li>
