---
// we use Geist Sans as a base font and Geist Mono as a monospaced font
import '@fontsource/geist-sans'
import '@fontsource/geist-mono'

import BaseHead from "../components/BaseHead.astro"
import Navbar from '../components/Navbar.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Base" />
	</head>
	<body class="dark:bg-darkbg bg-white">
		<div class="bg-[url('/background.svg')] dark:bg-[url('/background-dark.svg')] absolute top-0 left-0 w-full h-full z-[-1]" />
		<Navbar />
		<slot />
	</body>
</html>