---
// we use Geist Sans as a base font and Geist Mono as a monospaced font
import '@fontsource/geist-sans'
import '@fontsource/geist-mono'

import BaseHead, {type Props as BaseHeadProps} from "../components/BaseHead.astro"
import Navbar from '../components/Navbar.astro';

export interface Props extends BaseHeadProps {

}
const {...props} = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead {...props}>
			<slot name="head" slot="head" />
		</BaseHead>
	</head>
	<body class="dark:bg-darkbg bg-white">
		<div class="bg-[url('/background.svg')] dark:bg-[url('/background-dark.svg')] absolute top-0 left-0 w-full h-full z-[-1]" />
		<Navbar />
		<slot />
	</body>
</html>