---
// we use Geist Sans as a base font and Geist Mono as a monospaced font
import '@fontsource/geist-sans'
import '@fontsource/geist-mono'

import BaseHead from "../components/BaseHead.astro"
import Navbar from '../components/Navbar.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Base" />
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>

<style>
	html {
		background-color: #e5e5f733;
		background-image:  linear-gradient(#bbbcdb33 0.8px, transparent 0.8px), linear-gradient(to right, #bbbcdb33 0.8px, #e5e5f733 0.8px);
		background-size: 16px 16px;
	}
	html.dark {
		background-color: #000000D9;
		background-image:  linear-gradient(#ebd5d529 0.8px, transparent 0.8px), linear-gradient(to right, #ebd5d529 0.8px, #000000d9 0.8px);
		background-size: 16px 16px;
	}
</style>